
// GENERAL

.site-footer {
    background-color: $color_bg-dark;
    padding: 1em;
    padding-bottom: 3.5em;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    font-size: .85rem;
    padding-block: 1em;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    border-bottom: 1px solid rgba($color: $color_accent-yellow, $alpha: .5);

    display: flex;
}

.menu li a:visited {
    color: $color_bg-white;
}


// FOOTER MOBILE CONTAINER

.footer-mobile {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
        display: none;
    }
}

.footer-mobile-menu-container {
    display: flex;
    padding-bottom: 15px;
}

.footer-mobile-menu-main-nav {
    width: 50%;
}

.footer-mobile-menu-sec-nav {
    width: 50%;
}

// FOOTER MOBILE NAVIGATION

#menu-main-1 li:last-child {
    border-bottom: none;
}

#menu-footer li {
    justify-content: flex-end;
}

.is-hidden div ul li a {
    opacity: 0;
    pointer-events: none;
    font-weight: 200;
}

.is-hidden div ul li:last-child {
    border-bottom: none;
}

// FOOTER MOBILE CONTACT

.footer-mobile-contact-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.footer-mobile-contact-container div {
    padding-block: 1em;
    font-size: 1rem;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($color: $color_accent-yellow, $alpha: .5);
    font-weight: 200;
}

.footer-mobile-contact-container div:last-child {
    border-bottom: none;
}

.fa {
    font-size: 30px !important;
}

.fa-instagram {
    padding-right: 25px;
}

// FOOTER MOBILE ADDRESS

.footer-mobile-address-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer-mobile-address-container div{
    color: $color_bg-white;
    letter-spacing: .25px;
    font-weight: 200;
}

// TABLET UP EXTRA

.footer-tablet-up {

    display: none;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 3em;

    max-width: 1000px;
    margin: 0 auto;

    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;

    @include for-tablet-portrait-up {
        display: flex;
    }

    @include for-big-desktop-up {
        max-width: 1280px;
        padding: 0;
        padding-top: 1em;
    }

}

.footer-tablet-up .footer-tablet-up-contact {

    font-size: .8rem;
    font-weight: 100;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-tablet-up .footer-tablet-up-address {

    font-size: .8rem;
    font-weight: 100;

    color: $color_bg-white;
}

.footer-tablet-up .footer-tablet-up-main-nav nav div ul li:first-child {

    padding-top: 0;
}

.footer-tablet-up .footer-tablet-up-sec-nav nav div ul li:first-child {

    padding-top: 0;
}

.footer-tablet-up .footer-tablet-up-sec-nav nav div ul li a {

    font-weight: 100;
}