// BASIC STYLING

html {
    padding: 0px;
    margin: 0px;
}

section {
    display: block;
    margin: 0px;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h2 {
    font-family: $font_primary;
    font-weight: 700;
    font-size: clamp(1.75em, 3.125vw + 1, 3.125em);
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h3 {
    font-family: $font-secondary;
    font-weight: 300;
    font-size: clamp(1.5em, 2.8125vw + 1, 2.8125em);
    letter-spacing: 0.05em;
}

p {
    font-family: $font_primary;
    font-weight: lighter;
}

ul {
    margin: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color_bg-white;
}

a:visited {
    text-decoration: none !important;
    color: $color_bg_white;
}

