
// GENERAL

.site-header {
    width: 100%;
}



.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#header-container-opened {
    position: fixed;
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    padding: 1.5em;
    z-index: 5;
    background: linear-gradient(17deg, rgba(13,13,13,1) 47%, rgba(33,33,33,1) 100%); 
    opacity: 0.95;

    @include for-tablet-portrait-up {
        height: 98vh;
    }
}

#header-container-closed {
    position: fixed;
    height: auto;
    width: 100%;
    padding: 1.5em;
    z-index: 5;
}

#logo {
    height: 125px;
}

#logo-mobile {
    height: 90px;
    opacity: 92%;
}

#icon-x-close {
    height: 35px;
}

#burger-icon {
    height: 45px;
}

#main-navigation div ul li {
    min-height: 55px;
    justify-content: center;
    align-items: center;

    @include for-desktop-up {
        max-width: 250px;
        margin: 0 auto;
        min-height: 65px;
    }

    @include for-big-desktop-up {
        max-width: 250px;
        margin: 0 auto;
        min-height: 75px;
    }    
}

#main-navigation div ul li a {
    font-size: 1.2rem;
    font-weight: 600;  
    letter-spacing: 5px;

    @include for-desktop-up {
        font-size: 2rem;
    }
}

.header-sm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#secondary-navigation div ul li {
    max-height: 35px;
    border-bottom: none;
    justify-content: center;
    align-items: center;
}

#secondary-navigation div ul li a {
    font-size: 1rem;
    font-weight: 200;  
    letter-spacing: 1px;
}
