// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// BREAKPOINTS


@mixin for-phone-only {
	@media (max-width: 599px) { @content; }
  }
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) { @content; }
  }
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) { @content; }
  }
@mixin for-desktop-up {
	@media (min-width: 1200px) { @content; }
  }
@mixin for-big-desktop-up {
	@media (min-width: 1600px) { @content; }
  }
  
  // Usage of breakpoints
  .my-box {
	padding: 10px;
	
	@include for-desktop-up {
	  padding: 20px;
	}
  }