// SECTION AND CONTAINER

.section-home-leistungen {
    background-color: $color_bg-white;
}

.section-home-leistungen h1 {
    color: $color_bg-dark;
}

.section-home-leistungen h2 {
    color: $color_bg-dark;
}

.section-home-leistungen h3 {
    color: $color_bg-dark;
    margin-top: -10px;
}

.section-home-leistungen .container {
    padding: 1.5em;

    @include for-tablet-portrait-up {
        padding: 2.5em 3em;
    }

    @include for-desktop-up {

        padding-block: clamp(2.5em, 5%, 9.375em);
        
    }
}

// HEADING

#leistungen-heading {

    margin-bottom: 15px;

    @include for-desktop-up {
        max-width: 1600px;
        margin: 0 auto;
        margin-top: 25px;
        padding-left: clamp(125px, 10vw, 175px);
    }
}

// CONTAINER FOR CONTENT

.leistungen-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    grid-auto-rows: 275px;

    @include for-desktop-up {
        grid-auto-rows: 400px;
    }
}

.leistungen-card {
    display: flex;
    z-index: 0;
    overflow: visible;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
    align-items: flex-start;
    overflow: hidden;
    margin: auto;

    grid-column: span 3 / auto;

    @include for-tablet-portrait-up {
        overflow: visible;
        grid-column: span 2 / auto;
        min-width: 205px;
    }

    @include for-desktop-up {
        margin-left: 33%;
    }
}

.down {
    @include for-desktop-up {
        margin-top: -10px;
    }
}

.leistungen-card h4 {
    font-family: $font_primary;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.5vw, 40px);
    letter-spacing: 0.1em;
    color: $color_bg-dark;
    margin-top: 10px;
}

.leistungen-card hr {
    width: 25px;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    background-color: $color_bg-dark;
    height: 5px;
}

.leistungen-card ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.leistungen-card li {
    font-family: $font_primary;
    font-size: clamp(0.75rem, 1.25vw, 1.2rem);
    text-transform: uppercase;

    @include for-tablet-portrait-up {
        letter-spacing: 0.15em;
    }
}

.dot {
    height: 100px;
    width: 100px;
    background-color: $color_accent-yellow;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: -1;
    top: 100px;
    left: -10px;
    opacity: .5;

}